<div class="search">
    <form action="/search" method="post">
        <label for="search_type">Search For Tracks: </label>
        <br>
        <input name="query" type="text" placeholder="Enter Search Terms"/>
        <input name="submit" type="submit">
    </form>
    <br>
    <h2>Results</h2>
    <table class="table">
        <thead>
        <tr>
            <th>
                Song Title
            </th>
            <th>
                Artist
            </th>
            <th>
                Album
            </th>
            <th>&nbsp;</th>
        </tr>
        </thead>
        <tbody>
            {{#each data }}
                <tr>
                    <td>
                        {{ this.title }}
                    </td>
                    <td>
                        {{ this.artist }}
                    </td>
                    <td>
                        {{ this.album }}
                    </td>
                    <td>
                        <form action="/playlist" method="post">
                            <!--Figure out better way to handle this-->
                            <input type="hidden" name="title" value="{{ this.title }}" />
                            <input type="hidden" name="artist" value="{{ this.artist }}" />
                            <input type="hidden" name="imageUri" value="{{ this.imageUri }}" />
                            <input type="hidden" name="album" value="{{ this.album }}" />
                            <input type="hidden" name="trackUri" value="{{ this.trackUri }}" />
                            <input type="hidden" name="artistUri" value="{{ this.artistUri }}" />

                            <button type="submit" name="submit">
                                Add To Playlist
                            </button>
                        </form>
                    </td>
                </tr>
            {{/each}}
        </tbody>
    </table>
</div>